:root{
    /*dark mode colors*/
    --background-color: color-mix(in hsl, hsl(0, 8%, 15%), rgb(52, 51, 42) 35%);
    --game-entry-background-color: color(display-p3 0.27 0.25 0.23);
    --normal-font-color: rgb(238, 236, 207);
    --link-font-color: rgb(175, 232, 213);
    --footer-background-color: rgb(99, 99, 99);
    --invalid-color:rgb(236, 149, 149);
}