@import url("./variables/universal-variables.css");
:root{
    --date-width: 80%;
    --entry-margin: 5%;

    /*iframe dimensions*/
    --desktop-iframe-width: 720px;
    --desktop-iframe-height: 415px;
    --mobile-iframe-width: 315px;
    --mobile-iframe-height: 315px;

    /*table*/
    --table-font-size: 16px;
    --table-long-padding: 15px;
    --table-short-padding: 5px;

    /*text widths*/
    --entry-text-width: 80ch;
    --long-text-width: 70ch;
    --medium-text-width: 50ch;
    --short-text-width: 25ch;
    --mobile-text-width: 20ch;
}

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1; }
}
/*This makes sure that border and, most importantly, 
padding are both included in the width/height of an element*/
* {
    box-sizing: border-box;
    -border-style: solid;
    -border-color: aqua;
}

nav{
    z-index: var(--nav-z-index);
    width: var(--nav-width);
    position:sticky;
    top:0;
}
    
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    float:left;
}

nav li a {
    display: block;
    padding: var(--nav-item-padding);
    background-color: var(--normal-font-color);
    color: var(--background-color);
    text-decoration: none;
    transition: color var(--nav-transition-time);
    transition: background-color var(--nav-transition-time);
}
nav li a:hover {
    background-color: var(--background-color);
    color: var(--normal-font-color);
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font-family), Helvetica;
    background-color: var(--background-color);
    color: var(--normal-font-color)
}

h1 {
    font-size: var(--page-title-font-size);
    font-family: var(--page-title-font-family), Helvetica;
    animation: fade-in var(--fade-in-default-time);
}

h2{
    font-size: var(--seg-title-font-size);
    font-style: italic;
    font-family: var(--seg-title-font-family), Helvetica;
}

h3{
    font-size: var(--game-title-font-size);
}

hgroup{
    display: flex;
    flex-direction: column;
}

noscript{
    color:var(--invalid-color)
}

.switch{
    width: var(--switch-width);
    height:var(--switch-height);
    position:relative;
    display: inline-block;
    border-style: solid;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--normal-font-color);
    border: solid var(--background-color) var(--slider-border-width);
    width: var(--slider-relative-size);
}
input:checked + .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: var(--slider-position-offset);
    right: 0;
    bottom: 0;
    background-color: var(--normal-font-color);
    border: solid var(--background-color) var(--slider-border-width);
    width: var(--slider-relative-size);
}

p {
    font-size: var(--paragraph-font-size);
    width: var(--long-text-width);
}

a {
    color: var(--link-font-color);
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    margin-top: var(--segment-margin-top);
    padding: var(--default-gap);
    width: 100%;
    background-color:var(--footer-background-color);
}
footer a{
    text-decoration: none;
}

header p{
    width: var(--date-width);
}

.devlog-entry{
    margin-left: var(--entry-margin);
    margin-right: var(--entry-margin);
    margin-top: var(--segment-margin-top);
    border-style: solid;
    padding: var(--default-gap); 
    border-color: var(--normal-font-color);
    background-color: var(--game-entry-background-color);
}

.devlog-entry > table colgroup{
    background-color: var(--background-color);
}

.introduction > p{
    opacity: 0;
    animation: fade-in var(--fade-in-default-time) forwards;
    animation-delay: var(--introduction-animation-delay);
}


/*Smaller phones*/
@media screen and (max-width: 500px){
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--mobile-nav-font-size);
    }
    
    footer{
        font-size: var(--mobile-footer-font-size);
    }

    iframe{
        width: var(--mobile-iframe-width);
        height: var(--mobile-iframe-height);
    }

    aside p{
        width: var(--mobile-text-width);
    }

    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }
    .devlog-entry > p {
        width: var(--mobile-text-width);;
    }

    .devlog-entry > ol{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }

    .devlog-entry > details p{
        font-size: var(--mobile-paragraph-font);
        width: var(--mobile-text-width);
    }

    .devlog-entry > table{
        font-size: var(--table-font-size);
    }    
    .devlog-entry > table tr th{
        padding: var(--table-short-padding);
    }
    .devlog-entry > table tr td{
        padding: var(--table-short-padding);
    }

    .devlog-entry > aside blockquote {
        font-size: var(--mobile-paragraph-font-size);
    }
}

/*Smaller phones*/
@media screen and (min-width: 500px){
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--mobile-nav-font-size);
    }
    
    footer{
        font-size: var(--mobile-footer-font-size);
    }

    iframe{
        width: var(--mobile-iframe-width);
        height: var(--mobile-iframe-height);
    }

    aside p{
        width: var(--mobile-text-width);
    }

    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }
    .devlog-entry > p {
        width: var(--mobile-text-width);;
    }

    .devlog-entry > ol{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }

    .devlog-entry > details{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: var(--table-font-size);
    }    
    .devlog-entry > table tr th{
        padding: var(--table-short-padding);
    }
    .devlog-entry > table tr td{
        padding: var(--table-short-padding);
    }

    .devlog-entry > aside blockquote {
        font-size: var(--mobile-paragraph-font-size);
    }
}


/*Tablet, landscape*/
@media screen and (min-width: 1100px) {
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--paragraph-font-size);
    }
    
    figcaption{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--medium-text-width);
    }

    iframe{
        width: var(--desktop-iframe-width);
        height: var(--desktop-iframe-height);

    }
    aside p{
        width: var(--medium-text-width);
    }
    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--large-font-size);
        width: var(--medium-text-width);
    }

    .devlog-entry > p {
        width: 80ch;
        width: var(--medium-text-width);
    }

    .devlog-entry > ol{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--paragraph-font-size);
        width: var(--medium-text-width);
    }

    .devlog-entry > details{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: var(--paragraph-font-size);
    }    
    .devlog-entry > table tr th{
        padding:var(--table-long-padding);
    }
    .devlog-entry > table tr td{
        padding:var(--table-long-padding);
    }

    .devlog-entry > aside blockquote {
        font-size: var(--paragraph-font-size);
    }
}


/*Desktop*/
@media screen and (min-width: 1300px) {
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--paragraph-font-size);
    }

    figcaption{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--medium-text-width);
    }

    iframe{
        width: var(--desktop-iframe-width);
        height: var(--desktop-iframe-height);

    }
    aside p{
        width: var(--entry-text-width);
    }

    footer{
        font-size: var(--paragraph-font-size);
    }
    
    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--large-font-size);
        width: var(--long-text-width);
    }

    .devlog-entry > p {
        width: 80ch;
        width: var(--entry-text-width);
    }

    .devlog-entry > ol{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--paragraph-font-size);
        width: var(--long-text-width);
    }

    .devlog-entry > details{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: var(--paragraph-font-size);
    }    
    .devlog-entry > table tr th{
        padding:var(--table-long-padding);
    }
    .devlog-entry > table tr td{
        padding:var(--table-long-padding);
    }

    .devlog-entry > aside blockquote {
        font-size: var(--paragraph-font-size);
    }
}
