@font-face{
    font-family: Quicksand;
    src: url('../fonts/Quicksand/Quicksand-Regular.ttf');
}
@font-face{
    font-family: Montserrat;
    src: url('../fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
@font-face{
    font-family: MontserratBoldItalic;
    src: url('../fonts/Montserrat/static/Montserrat-BoldItalic.ttf');
}
@font-face{
    font-family: MontserratExtraBold;
    src: url('../fonts/Montserrat/static/Montserrat-ExtraBold.ttf');
}
@font-face{
    font-family: MontserratLight;
    src: url('../fonts/Montserrat/static/Montserrat-Light.ttf');
}

:root{
    
    --background-color: color-mix(in hsl, hsl(0, 8%, 15%), rgb(52, 51, 42) 35%);
    --game-entry-background-color: color(display-p3 0.27 0.25 0.23);
    --normal-font-color: rgb(238, 236, 207);
    --link-font-color: rgb(175, 232, 213);
    --footer-background-color: rgb(99, 99, 99);

    --paragraph-font-family: Quicksand;
    --seg-title-font-family: MontserratBoldItalic;
    --page-title-font-family: MontserratExtraBold;
    --large-font-family: MontserratLight;

    --nav-item-padding: 20px;

    --landscape-gallery-row-gap:4dvh;
    --gallery-default-col-gap:10dvw;
    --gallery-landscape-col-gap:6dvw;
    --latest-col-gap: 4dvw;

    --date-width: 80%;
    --mobile-game-margin-top:10%;
    --entry-margin: 5%;
    --segment-margin-top:4%;
    --default-gap:2%;

    --page-title-font-size: 46px;
    --seg-title-font-size: 36px;
    --large-font-size: 28px;
    --game-title-font-size:28px;
    --paragraph-font-size: 24px;
    
    --mobile-paragraph-font-size: 20px;
    --mobile-footer-font-size: 18px;
    --mobile-nav-font-size: 16px;

    --thumbnail-width-long: 450px;

    --desktop-iframe-width: 720px;
    --desktop-iframe-height: 415px;

    --mobile-iframe-width: 315px;
    --mobile-iframe-height: 315px;

    --desktop-game-width: 500px;
    --mobile-game-width: 350px;

    /*toggle variables*/
    --slider-relative-size: 50%;
    --slider-border-width: 6px;
    --switch-width:100px;
    --switch-height:50px;
    
    --image-width-modifier: 0.9;
    --game-entry-padding-modifier: 0.05;
    
    --entry-text-width: 80ch;
    --long-text-width: 70ch;
    --medium-text-width: 50ch;
    --latest-text-width: 30ch;
    --short-text-width: 25ch;
    --mobile-text-width: 20ch;

    --fade-in-default-time: 2s;
    --introduction-animation-delay: 1.2s;
    --quick-transition-time: 0.5s;

    --zoomin-scale : 1.1;
}

@keyframes fade-in {
    from { opacity: 0;}
    to { opacity: 1; }
}
/*This makes sure that border and, most importantly, 
padding are both included in the width/height of an element*/
* {
    box-sizing: border-box;
    -border-style: solid;
    -border-color: aqua;
}

body{
    display: flex;
    flex-direction: column;
    font-family: var(--paragraph-font-family), Helvetica;
    background-color: var(--background-color);
    color: var(--normal-font-color)
}

h1 {
    font-size: var(--page-title-font-size);
    font-family: var(--page-title-font-family), Helvetica;
    animation: fade-in var(--fade-in-default-time);
}

h2{
    font-size: var(--seg-title-font-size);
    font-style: italic;
    font-family: var(--seg-title-font-family), Helvetica;
}

h3{
    font-size: var(--game-title-font-size);
}

.switch{
    width: var(--switch-width);
    height:var(--switch-height);
    position:relative;
    display: inline-block;
    border-style: solid;
}
.switch input{
    opacity: 0;
    width: 0;
    height: 0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--normal-font-color);
    border: solid var(--background-color) var(--slider-border-width);
    width: var(--slider-relative-size);
}
input:checked + .slider{
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 50%;
    right: 0;
    bottom: 0;
    background-color: var(--normal-font-color);
    border: solid var(--background-color) 6px;
    width: 50%;
}

p {
    font-size: var(--paragraph-font-size);
    width: var(--long-text-width);
}

a {
    color: var(--link-font-color);
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

figure{
    display: flex;
    flex-direction: column;
    align-items: center;
}


footer{
    margin-top: var(--segment-margin-top);
    padding: var(--default-gap);
    width: 100%;
    background-color:var(--footer-background-color);
}
footer a{
    text-decoration: none;
}

header p{
    width: var(--date-width);
}

.devlog-entry{
    margin-left: var(--entry-margin);
    margin-right: var(--entry-margin);
    margin-top: var(--segment-margin-top);
    border-style: solid;
    padding: var(--default-gap); 
    border-color: var(--normal-font-color);
    background-color: var(--game-entry-background-color);
}

.devlog-entry > table colgroup{
    background-color: var(--background-color);
}

.introduction > p{
    opacity: 0;
    animation: fade-in var(--fade-in-default-time) forwards;
    animation-delay: var(--introduction-animation-delay);
}


/*Smaller phones*/
@media screen and (max-width: 500px){
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--mobile-nav-font-size);
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        float:left;
    }
    
    nav li a {
        display: block;
        padding: var(--nav-item-padding);
        background-color: var(--normal-font-color);
        color: var(--background-color);
        text-decoration: none;
    }
    
    nav li a:hover {
        background-color: var(--background-color);
        color: var(--normal-font-color);
    }

    footer{
        font-size: var(--mobile-footer-font-size);
    }

    iframe{
        width: var(--mobile-iframe-width);
        height: var(--mobile-iframe-height);
    }

    aside p{
        width: var(--mobile-text-width);
    }

    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }
    .devlog-entry > p {
        width: var(--mobile-text-width);;
    }

    .devlog-entry > ol{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }

    .devlog-entry > details p{
        font-size: var(--mobile-paragraph-font);
        width: var(--mobile-text-width);
    }

    .devlog-entry > table{
        font-size: 16px;
    }    
    .devlog-entry > table tr th{
        padding:5px;
    }
    .devlog-entry > table tr td{
        padding:5px;
    }

    .devlog-entry > aside blockquote {
        font-size: var(--mobile-paragraph-font-size);
    }
}

/*Smaller phones*/
@media screen and (min-width: 500px){
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--mobile-nav-font-size);
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        float:left;
    }
    
    nav li a {
        display: block;
        padding: var(--nav-item-padding);
        background-color: var(--normal-font-color);
        color: var(--background-color);
        text-decoration: none;
    }
    
    nav li a:hover {
        background-color: var(--background-color);
        color: var(--normal-font-color);
    }

    footer{
        font-size: var(--mobile-footer-font-size);
    }

    iframe{
        width: var(--mobile-iframe-width);
        height: var(--mobile-iframe-height);
    }

    aside p{
        width: var(--mobile-text-width);
    }

    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }
    .devlog-entry > p {
        width: var(--mobile-text-width);;
    }

    .devlog-entry > ol{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--short-text-width);
    }

    .devlog-entry > details{
        font-size: var(--mobile-paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: 16px;
    }    
    .devlog-entry > table tr th{
        padding:5px;
    }
    .devlog-entry > table tr td{
        padding:5px;
    }

    .devlog-entry > aside blockquote {
        font-size: var(--mobile-paragraph-font-size);
    }
}


/*Tablet, landscape*/
@media screen and (min-width: 1100px) {
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--paragraph-font-size);
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        float:left;
    }
    
    nav li a {
        display: block;
        padding: var(--nav-item-padding);
        background-color: var(--normal-font-color);
        color: var(--background-color);
        text-decoration: none;
        transition: color 0.5s;
        transition: background-color 0.5s;
    }
    
    nav li a:hover {
        background-color: var(--background-color);
        color: var(--normal-font-color);
    }

    figcaption{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--medium-text-width);
    }

    img{
        object-position: 50% 0%;
    }

    iframe{
        width: var(--desktop-iframe-width);
        height: var(--desktop-iframe-height);

    }
    aside p{
        width: var(--medium-text-width);
    }
    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--large-font-size);
        width: var(--medium-text-width);
    }

    .devlog-entry > p {
        width: 80ch;
        width: var(--medium-text-width);
    }

    .devlog-entry > ol{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--paragraph-font-size);
        width: var(--medium-text-width);
    }

    .devlog-entry > details{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: var(--paragraph-font-size);
    }    
    .devlog-entry > table tr th{
        padding:15px;
    }
    .devlog-entry > table tr td{
        padding:15px;
    }

    .devlog-entry > aside blockquote {
        font-size: var(--paragraph-font-size);
    }
}


/*Desktop*/
@media screen and (min-width: 1300px) {
    nav {
        display: flex;
        background-color: var(--normal-font-color);
        font-size: var(--paragraph-font-size);
    }
    
    nav ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
    }
    
    nav li {
        float:left;
    }
    
    nav li a {
        display: block;
        padding: var(--nav-item-padding);
        background-color: var(--normal-font-color);
        color: var(--background-color);
        text-decoration: none;
        transition: color 0.5s;
        transition: background-color 0.5s;
    }
    
    nav li a:hover {
        background-color: var(--background-color);
        color: var(--normal-font-color);
    }

    figcaption{
        font-size: var(--mobile-paragraph-font-size);
        width: var(--medium-text-width);
    }

    img{
        object-position: 50% 0%;
    }

    iframe{
        width: var(--desktop-iframe-width);
        height: var(--desktop-iframe-height);

    }
    aside p{
        width: var(--entry-text-width);
    }

    footer{
        font-size: var(--paragraph-font-size);
    }
    
    .introduction{
        margin: var(--default-gap);
    }
    .introduction > p{
        font-family: var(--large-font-family),Helvetica;
        font-size: var(--large-font-size);
        width: var(--long-text-width);
    }

    .devlog-entry > p {
        width: 80ch;
        width: var(--entry-text-width);
    }

    .devlog-entry > ol{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > dl{
        font-size: var(--paragraph-font-size);
        width: var(--long-text-width);
    }

    .devlog-entry > details{
        font-size: var(--paragraph-font-size);
    }

    .devlog-entry > table{
        font-size: var(--paragraph-font-size);
    }    
    .devlog-entry > table tr th{
        padding:15px;
    }
    .devlog-entry > table tr td{
        padding:15px;
    }

    .devlog-entry > aside blockquote {
        font-size: var(--paragraph-font-size);
    }
}
